.content-list-header {
   display         : flex;
   align-items     : center;
   justify-content : space-between;
   height          : 55px;
   padding         : 0px 13px;
   .list-main-box {
      display : flex;
      .content-list-header-img {
         position        : relative;
         width           : 32px;
         height          : 32px;
         margin-right    : 13px;
         background-size : cover;
         &:hover {
            cursor : pointer;
         }
         img {
            width         : 100%;
            height        : 100%;
            border-radius : 50%;
         }
      }
      .list-channel {
         display         : flex;
         flex-direction  : column;
         justify-content : center;
         .list-channel-name {
            margin-bottom : 4px;
            color         : black;
            font-size     : 14px;
            font-weight   : bold;
            &:hover {
               text-decoration : underline;
            }
         }
         .list-channel-location {
            color     : black;
            font-size : 11px;
         }
      }
      .main-content-list-viewmore {
         position        : relative;
         display         : flex;
         align-items     : center;
         justify-content : center;
         width           : 24px;
         height          : 24px;
      }
   }
}