.list-description-post-content-main {
   margin-bottom : 5px;
   .channel-name {
      font-weight : bold;
      color       : black;
      &:hover {
         cursor : pointer;
      }
   }
   .post-content-hashtag {
      color       : #02539d;
      font-weight : bold;
   }
}